.button-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds space between the buttons */
    margin-top: 20px;
}

.button {
    width: 48%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
}

.success-message {
    color: green;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.th, .td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}